
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --slogan-text-color: #FFFFFF;
    --location-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-header: #000000;
    --logo-footer: #FFFFFF;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --team-backgrond-color: #F5F4FA;
    --footer-text-color: #FFFFFF96;
    --btn-accent-text-color: #FFFFFF;
    --btn-filter-bcg-color: #F5F4FA;
    --btn-filter-border-color: transparent;
    --header-line-border-color: #ECECEC;
    --project-caption-border-color: #EEEEEE;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

/* Styles reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    text-decoration: none;
    font-style: none;
    /* outline: currentColor; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Container*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}

/*Header*/

.header {
    border-bottom: 1px solid var(--header-line-border-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;    
    align-items: center;
    gap: 93px;
}

/* Logo */

.header .logo {
        display: inline-block;
        padding-top: 24px;
        padding-bottom: 25px;
}

.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {   
    color: var(--logo-header);
}

/* Site nav */

.site-nav {
    display: flex;
    align-items: center;
    gap: 50px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;
    
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

/* Contacts */

.contacts {
    display: flex;
    gap: 50px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Main */

.slogan {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-slogan.jpg);
    background-size: cover;
    background-position: center;

    text-align: center;
}

.slogan-title {     
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;      

    color: var(--slogan-text-color);

    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-order {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;    
    padding: 10px 32px;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--btn-accent-text-color);
    border-color: var(--accent-color);

    border-width: 0px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.btn-order:hover,
.btn-order:focus {
    outline: 0;
}

    /* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--secondary-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

        /*Work*/

.section.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

        /* Advantages */

.advantage-list {
    display: flex;
    justify-content: space-between;
}

.advantages .item {
    max-width: 270px;
}

.advantages .title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.advantages .text {   
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

        /*Our Work*/

.work {
    margin-top: 0px;
}

.work .section-title {
    margin-bottom: 50px;
}
        /* Team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--team-backgrond-color);
}

.team .section-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: space-between;


    text-align: center;
}

.team .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.team .card {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;

    background-color: var(--main-background-color);

    border-radius: 0px 0px 4px 4px;
}

.team .title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;   
}

.team .img {
    display: block;

    max-width: 100%;
    height: auto;
}

        /* Portfolio - Filter */

.btn-filter {
    padding: 6px 22px;
    border-radius: 4px;

    background-color: var(--btn-filter-bcg-color);
    color: var(--secondary-text-color);
    border-color: var(--btn-filter-border-color);

    font-family: inherit;    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: inherit;
    letter-spacing: 0.03em;

    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--accent-color);
    color: var(--btn-accent-text-color);
    border-color: var(--btn-filter-border-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    outline: none;
}


        /*Filter Portfolio*/

.filter-list {
    display: flex;
    justify-content: center;
    gap:  8px;

    margin-bottom: 50px;
}

         /*Projects Portfolio*/

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-list .card {
    flex-basis: calc((100% - 2*30px) / 3);
}

.projects .title {
    color: var(--secondary-text-color);

    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}

.projects .type {
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.caption {
    padding: 20px 24px;

    width: 370px;
    border-left: 1px solid var(--project-caption-border-color);
    border-right: 1px solid var(--project-caption-border-color);
    border-bottom: 1px solid var(--project-caption-border-color);
}

.card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card .img {
    display: block;
    
    max-width: 100%;
    height: auto;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-background-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--logo-footer);
}

    /* Address */


.address .link {
    display: inline-block;
    margin-bottom: 9px;

    color: var(--footer-text-color);

    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);    
}

.address .location {
    color: var(--location-text-color);
}

.address .tel {
    display: inlinea-block;
    margin-bottom: 0px;
}